@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
}

.cinzel{
   font-family: "Cinzel", serif;
}

a.active{
  color: #EEFF25;
}

li.react-tabs__tab--selected{
  color: #BB8506;
  border: 0px;
  border-bottom: 2px solid #BB8506;
  border-radius: 5%;
}


a#dashboard.active {
  color: white;
}